* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.message-input, .search-input {
  width: 100%;
  border-radius: 20px;
  transition: .4s;
}

.message-input {
  background-color: #fff;
  padding: 13px 52px;
  font-size: .9rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 135, .35);
}

.search-input {
  background-color: rgb(243, 243, 255);
  font-size: .85rem;
  padding: .45rem 2.5rem .45rem 1rem;
  margin: .5rem 0;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 135, .35);
  transition: .4s;
}

.search-input:focus {
  box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 135, 0.866);
}

.search-icon {
  position: absolute;
  right: .7rem;
  color: rgba(0, 0, 0, 0.734);
}

.send-button {
  color: #fff;
  border-radius: 50%;
  position: absolute;
  padding: 5px 6px 6px 10px;
  right: .5rem;
  transition: .4s;
  background-color: rgba(0, 0, 135);
  font-size: 1.1rem;
}

.send-button:hover {
  background-color: rgba(0, 0, 135, .75);
}

.file-icon {
  cursor: pointer;
  position: absolute;
  left: .5rem;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
  background: rgb(136, 136, 196);
  transition: .4s;
}

.file-icon:hover {
  background-color: rgba(0, 0, 135);
}

.logout-button {
  font-size: 1.1rem;
  transition: .4s;
  padding: .3rem 0;
  width: 180px;
  margin: 0 auto;
  color: rgb(0, 0, 86);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 0px 3.5px 0px rgba(1, 1, 113, 0.736);
  transition: .4s;
}

.logout-button:hover {
  box-shadow: 0px 0px 4.5px 0px rgba(1, 1, 113, 0.899);  
}

.logout-icon {
  color: rgb(0, 0, 86);
  margin-left: .2rem;
}

.users-list::-webkit-scrollbar, #chat-container::-webkit-scrollbar {
  display: none;
}

.message-container {
  max-width: 270px;
  min-width: 90px;
  height: auto;
  padding: .5rem .9rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 135, .35);
}

.sender-message {
  align-self: flex-end;
  color: #fff;
  background-color: rgba(3, 3, 162, 0.792);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.recipient-message {
  align-self: flex-start;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.823);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
